* {
  padding: 10;
  margin: 10;
  box-sizing: border-box;
}
.heading {
  margin-bottom: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  align-items: center;
  text-align: center;
  text-decoration: underline;
  font-weight: bolder;
}

#cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  box-shadow: 0 0 4px 3px rgb(81, 81, 230);
  text-align: center;
  padding: 1.5rem;
  margin-bottom: 2em;
  border-radius: 10%;
}

.title {
  font-size: 1.3rem;
  font-weight: bolder;
  color: rgb(162, 0, 255);
}
.category,
price {
  font-weight: bolder;
  text-transform: capitalize;
  margin: 1em;
  color: rgb(158, 15, 158);
}

.image {
  width: 80px;
}
